{% extends "base.html" %}

{% block app_content %}
{% if email %}
<h1>{{ 'Check your email' }}</h1>
<p>{{ _('We sent an email to you at %(email)s with a link to sign in.', email=email) }}</p>
{% else %}
<h1>{{ 'Sign in' }}</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.email.label() }}
    {{ form.email(size=320) }}
    {% for error in form.email.errors %}
    <div>{{ error }}</div>
    {% endfor %}
    {{ form.submit() }}
</form>
{% endif %}
{% endblock %}
