{% extends "base.html" %}
{% block app_content %}
<div class="max-w-3xl mx-auto">
    <div class="flex items-center mb-8 gap-x-2">
        <div class="flex-1">
            <h1 class="font-medium text-4xl">{{ post.title }}</h1>
        </div>
        <div class="flex-none">
            <a href="{{ url_for('main.post_edit', id=post.id) }}" class="button text-center block w-full">{{ _('Edit this post') }}</a>
        </div>
    </div>
    <div class="md:flex md:gap-x-6">
        <article class="md:flex-1 mb-4">
            {{ post.body }}
        </article>
        <div class="md:flex-none md:basis-64">
            <div class="mb-4 py-4 border-y border-gray-200">
                <div class="text-xs text-gray-500 mb-2">Created by</div>
                <div class="flex items-center space-x-2">
                    <img class="w-6 h-6 rounded-full" src="{{ post.author.avatar(256) }}" alt="{{ post.author.username }}'s avatar"/>
                    <a href="{{ url_for('main.user_view', id=post.author.id) }}" class="link">{{ post.author.username }}</a>
                </div>
            </div>
            <div class="pb-4 border-b border-gray-200">
                <div class="text-xs text-gray-500 mb-2">Date</div>
                <div>{{ post.timestamp.strftime('%d/%m/%Y at %l:%M %p') }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}