{% macro pagination(pagination, endpoint, class="") %}
{% if pagination.total %}
<div class="pagination">
	<div class="pagination-info">{{ _('Showing %(first)s to %(last)s of %(total)s', first=pagination.first, last=pagination.last, total=pagination.total) }}</div>
	<div class="pagination-links">
		{% if pagination.has_prev %}
		<a href="{{ url_for(endpoint, page=pagination.prev_num) }}">{{ _('Previous') }}</a>
		{%else %}
		<span>{{ _('Previous') }}</span>
		{% endif %}
		{% for page in pagination.iter_pages() %}
		{% if page %}
		<a href="{{ url_for(endpoint, page=page) }}"{% if page == pagination.page %} class="active"{% endif %}>{{ page }}</a>
		{% else %}
		<span>…</span>
		{% endif %}
		{% endfor %}
		{% if pagination.has_next %}
		<a href="{{ url_for(endpoint, page=pagination.next_num) }}">{{ _('Next') }}</a>
		{%else %}
		<span>{{ _('Next') }}</span>
		{% endif %}
	</div>
</div>
{% endif %}
{% endmacro %}