{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
{% for category, message in messages %}
    <li x-data="{ show: true }" x-show="show">
        <p>{% if category == 'error' %}ERROR: {% endif %}{{ message }}</p>
        <button x-on:click="show = !show">
          <span class="sr-only">Close</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}